$marron: #784F41;

$gris: #6B6B76;

$grisClaro: #C2BFBD;

$amarillo: #F3C969;

$naranja: #e68c47;


.index{
    background-image: linear-gradient($grisClaro, $gris);
}

.nav{
    background-color: $gris;
}


