

/*---Contacto---*/

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
form label{
    font-size: 20px;
    padding-bottom: 5px;
    color: whitesmoke;
}
form input{
    padding-top: 5px;
    border: 2px solid $marron;
    background-color: $naranja;
    width: 200px;
}
form p{
    padding-top: 30px;
    color: whitesmoke;
    font-size: 25px;
}
form textarea{
    border: 2px solid $marron;
    background-image: linear-gradient($naranja, $marron);
}

.maps{
    text-align: center;
    margin: 5px;
}

@media all and (min-width: 360px) and (max-width: 760px) {
    
    /*Cambios Generales y Home*/
    .title{
        max-width: 360px;
        font-size: 25px;
    }
    form{
        padding-top: 110px
    }
}