


.index{
    background-image: linear-gradient(#C2BFBD, #68625e);
}

.navbar__center{
    justify-content: center;
}

.title{
    color: #A9684C;
    font-size: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    word-spacing: 30px;
    text-decoration: underline;  
    background-color: #6B6B76 ;
}

.titleCel{
    color: #A9684C;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;  
    background-color: #6B6B76 ;
    padding-top: 15px;
    padding-left: 10;
}


.pading{
    padding-top: 200px;
}
.pading h1{
    text-align: center;
}
.pading img{
    display:block;
    margin:auto;
}

h2{
    color: #C2BFBD;
}

/*---Home---*/

.tNav{
    width: 100%;
    height: 180px;
    background-color: #6B6B76;
    top: 0px;
    border-bottom: 10px #6B6B76 solid; 
    grid-area: tNav;
    z-index: 100;
    left: 50%;
    transform: translatex(-50%);
}



/*BOTONES del MENU*/

.botones{
    margin: 0px;
    border: $marron 2px;
    border-style: solid;

    width: 250px;
    background-color: #6B6B76; 
    transition: background-color .3s;
    text-align: center;
    padding-bottom: 0;
}
    .botones:hover{ 
        background-image: linear-gradient( #6B6B76 , #A9684C);
    }

    .botones p{
        color: whitesmoke;
        font-size: 20px;
    }     

#space{
    padding-top: 200px;
}

/*---------Carousel--------*/
.imgCel img{
    width: 300px;
    height: 500px;
}

#carouselExampleControls{
    padding-top: 20px;
    padding-bottom: 20px;
}

.carrousell{
    width: 1500px;
    height: 1000px;
    padding-bottom: 0px;
}

.frase{
    display: flex;
    flex-direction: column;   
}
.frase h4{
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: whitesmoke;
    background-color: $marron;
}

.frase img{
    
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}


@media all and (min-width: 360px) and (max-width: 760px) {
    
    /*Cambios Generales y Home*/

    .navbar{
        height: 110px;
        
    }
    
    .title{
        width: 300px;
        display: flex;
        align-items: center;
        
        font-size: 25px;
        word-spacing: 0px;
    }
    .title h1{
        align-content: center;
    }

    .nav-item{
        width: 100%;
    }
    .botones{
        padding: 0px;
        width: 360px !important;
    }

    .navbar__center{
        justify-content: left;
    }
    .navbar__center div h1{
        width: 360px;
        text-align: center;
        display: initial;
    }
    
    #space{
        padding-top: 120px;
    }
    .frase{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-top: 25px;
        
    }
    .frase h4{
        font-size: 15px;
        padding: 10px;
        color: whitesmoke;
    }
    .frase img{
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}


@media all and (min-width: 760px) and (max-width: 1024px) {

    .navbar{
        height: 150px;
        
    }
    
    .botones{
        width: 190px;
        display: flex;
        align-content: center;
        padding: 0px;
    }

    .botones p{
        text-align: center;
    }

    .navbar__center div h1{
        width: 760px;
        text-align: center;
        display: flex;
    }

    
    .frase h4{
        font-size: 25px;
    }
    .frase img{
        width: 760px;
    }

    #space{
        padding-top: 120px;
    }
}