


.index{
    background-image: linear-gradient($grisClaro, $gris);
}

.navbar__center{
    justify-content: center;
}

.icono{
    margin-top: 25px;
    width: 180px;
}

h2{
    color: $grisClaro;
}

/*---Home---*/

.tNav{
    width: 100%;
    height: 180px;
    background-color: $gris;
    top: 0px;
    border-bottom: 10px $gris solid; 
    grid-area: tNav;
    z-index: 100;
    left: 50%;
    transform: translatex(-50%);
}



/*BOTONES del MENU*/

.botones{
    margin: 0px;
    border: $marron 2px;
    border-style: solid;

    width: 250px;
    background-color: $gris; 
    transition: background-color .3s;
    text-align: center;
    padding-bottom: 0;
}
    .botones:hover{ 
        background-image: linear-gradient( $gris, $marron);
    }

    .botones p{
        color: whitesmoke;
        font-size: 20px;
    }     

.frase__inicio{
    text-align: center;
    font-size: 18px;
    padding-top: 190px;
    padding-bottom: 1px; 
    background-color: $marron;
}
.frase__inicio p{
    color: whitesmoke;
}

/*---------Carousel--------*/
.imgCel img{
    width: 300px;
    height: 500px;
}

#carouselExampleControls{
    padding-top: 20px;
    padding-bottom: 20px;
}

.carrousell{
    width: 1500px;
    height: 1000px;
    padding-bottom: 0px;
}

.frase{
    display: flex;
    flex-direction: column;   
}
.frase a{
    text-decoration: none;
}
.frase h4{
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: whitesmoke;
    background-color: $marron;
}
    .frase a h4:hover{ 
    background-image: linear-gradient( $gris , $marron);
    }
.frase img{
    
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}


/*---------Cartas de reseña--------*/

.resena {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.card{
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: $marron;
}
  .card-text {
    color: whitesmoke; } 


@media all and (min-width: 360px) and (max-width: 760px) {
    
    /*Cambios Generales y Home*/
    .navbar{
        height: 200px;
        align-items: center;   
        justify-content: center;  
        width: 100%;   
    }
    .icono{
        display: block;
        margin: 0 auto 0 auto;
        padding-bottom: 10px;
        padding-top: 5px;
        width: 130px;
    }
    .navbar-toggler{
        width: 100%;
        background-color: $marron;
    }
    .nav-item{
        width: 100%;
    }
    .botones{
        padding: 0px;
        width: 360px !important;
    }
    .navbar__center div h1{
        width: 360px;
        text-align: center;
        display: initial;
    }
    .frase__inicio{
        text-align: center;
        font-size: 18px;
        margin-top: 90px;
    }
    .frase{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-top: 25px;        
    }
    .frase__inicio p{
        font-size: 12px;
        margin-bottom: 1px !important;
    }

    .frase h4{
        font-size: 15px;
        padding: 10px;
        color: whitesmoke;
    }
    .frase img{
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    
/*---------Cartas de reseña--------*/
.resena {
    display:grid;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.card{
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    
}

@media all and (min-width: 760px) and (max-width: 1024px) {
    
    .navbar{
        height: 150px;
        
    }
    .botones{
        width: 190px;
        display: flex;
        align-content: center;
        padding: 0px;
    }
    .botones p{
        text-align: center;
    }
    .navbar__center div h1{
        width: 760px;
        text-align: center;
        display: flex;
    }
    .frase h4{
        font-size: 25px;
    }
    .frase img{
        width: 760px;
    }
/*---------Cartas de reseña--------*/
.resena {
    margin-left: 10px;
    margin-right: 10px;

}
.card{
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    
}
}
}