


/*---Quienes somos---*/

h2{
    font-family: Arial, Helvetica, sans-serif
    
}
.info {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.info p{
    width: 700px;
    text-align: justify;
    font-size: 20px;
}

.info img{
    justify-self: center;
}

#txtImg{
    width: 650px; 
}

@media all and (min-width: 360px) and (max-width: 760px) {
    
    
    .title{
        max-width: 360px;
        font-size: 25px;
    }

    .info h3{
        font-size: 15px;
        text-align: justify;
    }
    .info p{
        width: 340px;
        font-size: 20px;
        text-align: justify;
    }
    .info img{

        height: 200px;
    }
    #txtImg{
        width: 330px;
    }
}

@media all and (min-width: 760px) and (max-width: 1024px) {
    
    .title{
        font-size: 30px;
    }

    .info{
        display: flex;
        flex-direction: column;
    }
    .info h3{
        font-size: 20px;
        text-align: justify;
    }
    .info p{
        text-align: justify;
    }
    .info img{
        height: 300px;
    }
    
    #txtImg{
        width: 650px;
    }
}
